.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    .nav-item{
        margin: 0 10px;
        text-decoration: none;
        color: #333;
        font-size: 24px;
        &:hover{
            color: #007BFF;
        }
    }
    .nav-item.active{
        font-weight: bold;
        color: #007BFF;
    }
    .nav-item.disabled{
        color: #ccc;
        pointer-events: none;
    }
    .nav-item.active.disabled{
        color: #007BFF;
        pointer-events: none;
    }
    .nav-item.disabled:hover{
        color: #ccc;
    }
    .nav-item.active:hover{
        color: #007BFF;
    }
    .nav-btn{
        background-color: #007BFF;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        &:hover{
            background-color: #0056b3;
            color: #fff;
        }
    }
}